[Unit]
Description=GPS Logger
Documentation=http://www.isoblue.org/
Requires=gpsd.service
After=
ConditionPathExists=/opt/bin

[Service]
Type=simple
ExecStart=/bin/bash -c '/opt/bin/gps_log.py'
Restart=on-failure
RestartSec=2
