[Unit]
Description=Kafka Log Monitor
Documentation=http://www.isoblue.org/
After=zookeeper.service broker.service mirror.service
ConditionPathExists=/opt/bin

[Service]
Type=simple
ExecStart=/opt/bin/kafka_log_monitor.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
