[Unit]
Description=OADA Upload
Documentation=http://www.isoblue.org/
After=heartbeat.service gps_log.service
ConditionPathExists=/opt/bin

[Service]
Type=simple
ExecStart=/bin/bash -c '/opt/bin/oada_upload.py'
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
